nav{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primary-font);
  margin-top: 25px;
}
.main-logo{
  width: 150px; 
  position: relative; 
  top: -8px;
  right: 45px
}
section{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primary-font);
  margin: 100px 0 50px 0;
}

ul{
  display: flex;
  align-items: center;
  gap: 20px;
}
li{
  color: #282c34;
  list-style: none;
}
a{
  color: #282c34;
  text-decoration: none;
  font-weight: 600;
}
footer{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 60px;
}

/* SmallScreens */
@media (max-width: 765px) {
  ul{
   gap:10px;
 } 
 footer{
  gap: 40px
 }
}

.hero-section{
  background-color: var(--primary-color-one);
  height: 400px;
  position: relative;
}
.container{
  width: 50%;
  position: absolute;
  bottom: 120px;
  left: 485px;
  text-align: left;
}
.main-title{
  color:var(--primary-color-two);
  font-size: var(--primary-size);
  margin-bottom: 0;
}
.secondary-title, .disc{
  color: white;
}

.secondary-title{
  font-size: 28px;
  font-weight: 400;
  margin-top: 0;

}
.disc{
  font-weight: 600;
  width: 35%;
  letter-spacing: 1.2px;
  line-height: 19px;
}

.reserve{
  background-color: var(--primary-color-two);
  border:none;
  border-radius: 8px;
  text-align: center;
  padding: 8px;
  font-weight: 700;
  cursor: pointer;
}
.hero-img{
  width: 280px;
  overflow: hidden;
  position: absolute;
  right: 300px;
  top: 30px;
}