:root{
  /* Variables */
   --primary-color-one: #495E57;
   --primary-color-two: #f4ce14;
   --secondary-color-one:#ee9972;
   --secondary-color-two:#fbdabb;
   --secondary-color-three:#edefee;
   --secondary-color-four:#333333;
   /* Texts Styles */
   --primary-font: "Markazi-Text";
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
section{
   display: flex;
  align-items: center;
  justify-content: center;
}

ul{
  display: flex;
  align-items: center;
  gap: 20px
}
li{
  list-style: none;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

/* SmallScreens */
@media (max-width: 765px) {
  ul{
   gap:10px;
 } 
 footer{
  gap: 40px
 }
}